<template lang="pug">
main-screen(v-if="statusMatch === 'default'" @onStart="onHandleBeforeStart($event)")
interact-screen(v-if="statusMatch === 'match'" :cardsContext="settings.cardsContext" @onFinish="onGetResult()")
result-screen(:timer="timer" v-if="statusMatch === 'result'" @onStartAgain="statusMatch = 'default'")
</template>

<script>
    import MainScreen from './components/MainScreen.vue'
    import InteractScreen from './components/InteractScreen.vue'
    import ResultScreen from './components/ResultScreen.vue'
    import {shuffled} from './utils/array'
    import {reactive, ref} from 'vue'
    export default {
        name: 'App',
        components: {
            MainScreen,
            InteractScreen,
            ResultScreen,
        },
        setup() {
            const settings = reactive({
                totalOfBlocks: 0,
                cardsContext: [],
                startedAt: null,
            })
            const statusMatch = ref('default')
            const timer = ref(0)
            const onHandleBeforeStart = config => {
                settings.totalOfBlocks = config.totalOfBlocks
                const firstCards = Array.from({length: settings.totalOfBlocks / 2}, (_, i) => i + 1)
                const secondCards = [...firstCards]
                const cards = [...firstCards, ...secondCards]
                settings.cardsContext = shuffled(shuffled(shuffled(shuffled(cards))))
                settings.startedAt = new Date().getTime()
                statusMatch.value = 'match'
            }
            const onGetResult = () => {
                // get timer
                timer.value = new Date().getTime() - settings.startedAt
                // switch to result component
                statusMatch.value = 'result'
            }
            return {settings, statusMatch, timer, onHandleBeforeStart, onGetResult}
        },
    }
</script>
