<template lang="pug">
.card(
    :class="{disabled: isDisabled}"
    :style="{height: `${(720 - 16 * 4) / Math.sqrt(cardsContext.length) - 16}px`,width: `${(((720 - 16 * 4) / Math.sqrt(cardsContext.length) - 16) * 3) / 4}px`,perpective: `${(((720 - 16 * 4) / Math.sqrt(cardsContext.length) - 16) * 3) / 2}px`}")
    .card__inner(:class="{'is-flipped': isFlipped}" @click="onToggleFlipCard")
        .card__face.card__face--front
            .card__content(:style="{backgroundSize: `${(((720 - 16 * 4) / Math.sqrt(cardsContext.length) - 16) * 3) / 4 / 3}px ${(((720 - 16 * 4) / Math.sqrt(cardsContext.length) - 16) * 3) / 4 / 3}px`}")
        .card__face.card__face--back
            .card__content(:style="{backgroundImage: `url(${require('@/assets/' + imgBackFaceUrl)})`}")
</template>
<script>
    export default {
        props: {
            imgBackFaceUrl: {
                type: String,
                required: true,
            },
            card: {
                type: [String, Number, Array, Object],
            },
            cardsContext: {
                type: Array,
                default: function () {
                    return []
                },
            },
            rules: {
                type: Array,
            },
        },
        data() {
            return {
                isDisabled: false,
                isFlipped: false,
            }
        },
        methods: {
            onToggleFlipCard() {
                if (this.rules.length >= 2) return
                if (this.isDisabled) return
                this.isFlipped = !this.isFlipped
                if (this.isFlipped) this.$emit('onFlip', this.card)
            },
            onFlipBackCard() {
                this.isFlipped = false
            },
            onActiveDisableMode() {
                this.isDisabled = true
            },
        },
    }
</script>
<style scoped>
    .card {
        display: inline-block;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }
    .card__inner {
        width: 100%;
        height: 100%;
        transition: transform 1s;
        transform-style: preserve-3d;
        cursor: pointer;
        position: relative;
    }
    .card.disabled .card__inner {
        cursor: default;
    }
    .card__inner.is-flipped {
        transform: rotateY(-180deg);
    }
    .card__face {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        overflow: hidden;
        border-radius: 1rem;
        padding: 1rem;
        box-shadow: 0 3px 18px 3px rgba(0, 0, 0, 0.2);
    }
    .card__face--front .card__content {
        background: url('../assets/images/icon_back.png') no-repeat center center;
        height: 100%;
        width: 100%;
    }
    .card__face--back {
        background-color: var(--light);
        transform: rotateY(-180deg);
    }
    .card__face--back .card__content {
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
    }
</style>
