<template lang="pug">
.screen
    .screen__inner(:style="{width: `${((((720 - 16 * 4) / Math.sqrt(cardsContext.length) - 16) * 3) / 4 + 16) * Math.sqrt(cardsContext.length)}px`}")
        card-flip(v-for="(card, index) in cardsContext"
            :key="index"
            :imgBackFaceUrl="`images/${card}.png`"
            :card="{index, value: card}"
            :ref="`card-${index}`"
            :cardsContext="cardsContext"
            :rules="rules"
            @onFlip="checkRules($event)")
</template>
<script>
    import CardFlip from './Card.vue'
    export default {
        components: {
            CardFlip,
        },
        props: {
            cardsContext: {
                type: Array,
                default: function () {
                    return []
                },
            },
        },
        data() {
            return {
                rules: [],
            }
        },
        methods: {
            checkRules(card) {
                if (this.rules.length === 2) return false
                this.rules.push(card)
                if (this.rules.length === 2 && this.rules[0].value === this.rules[1].value) {
                    // add class disabled to component card
                    this.$refs[`card-${this.rules[0].index}`].onActiveDisableMode()
                    this.$refs[`card-${this.rules[1].index}`].onActiveDisableMode()

                    // reset rules = []
                    this.rules = []

                    const disabledElements = document.querySelectorAll('.screen .card.disabled')
                    if (disabledElements && disabledElements.length === this.cardsContext.length - 2) {
                        setTimeout(() => {
                            this.$emit('onFinish')
                        }, 920)
                    }
                } else if (this.rules.length === 2 && this.rules[0].value !== this.rules[1].value) {
                    setTimeout(() => {
                        // close 2 cards
                        this.$refs[`card-${this.rules[0].index}`].onFlipBackCard()
                        this.$refs[`card-${this.rules[1].index}`].onFlipBackCard()

                        // reset rules = []
                        this.rules = []
                    }, 800)
                } else return false
            },
        },
    }
</script>
<style scoped>
    .screen {
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        background-color: var(--dark);
        color: var(--light);
    }

    .screen__inner {
        display: flex;
        flex-wrap: wrap;
        margin: 2rem auto;
    }
</style>
